$bg: rgba(255, 255, 255, 0.7);
$border: #707070;
$fcolor: #3E3F3D;
$uvmoist: #d6e9f3;
$uvmoist2: #badbec;
$uv2week: #c8e8e3;
$uvring: #f8ede0;
$buy: #EE6A6A;

/*mixin*/
@mixin label($fc, $bg) {
  display: block;
  border-radius: 16px;
  position: relative;
  font-size: 1.3rem;
  padding: 8px 4px;
  color: $fc;
  background-color: $bg;
}



/* common */
html {
  width: 100%;
  font-size: 62.5%;
}

body {
  font-family: "Yu Gothic Medium", "游ゴシック Medium", YuGothic, "游ゴシック体", "ヒラギノ角ゴ Pro W3", "メイリオ", sans-serif;
  font-size: 1.6rem;
  line-height: 2;
  color: $fcolor;
  letter-spacing: 0;
  width: 100%;
  overflow-x: hidden;
  -webkit-animation: fadeIn 3s ease-in 0s 1 normal;
  animation: fadeIn 3s ease-in 0s 1 normal;
}

@keyframes fadeIn {
  0% {
    opacity: 0
  }

  100% {
    opacity: 1
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0
  }

  100% {
    opacity: 1
  }
}




@media screen and (max-width: 768px) {
  body {
    font-size: 1.5rem;
  }
}

b,
strong,
.bold {
  font-family: "Lato", "Yu Gothic", "游ゴシック", YuGothic, "游ゴシック体", "ヒラギノ角ゴ Pro W3", "メイリオ", sans-serif;
  font-weight: bold;
}

.ja-serif {
  font-family: 'Shippori Mincho B1', serif !important;
}

.c-garamond {
  font-family: 'Cormorant Garamond', serif;
}


a {
  color: $fcolor;
  text-decoration: none;
  transition: opacity .3s;
}

a:hover,
a:focus,
a:visited {
  outline: none;
  color: $fcolor;
}

a:hover {
  opacity: .7;
  color: var(--color_black);
}

/*------------------ header ------------------*/
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  background: transparent;

  &.bg {
    background: $bg;
  }

  .container {
    display: flex;
    align-items: center;
    position: relative;
    height: 120px;
  }
}

.header-logo {
  width: 136px;
  margin-right: 5%;

  & img {
    width: 100%;
    height: auto;
  }
}

.header-nav {
  display: flex;
  align-items: center;

  & li {
    border-right: solid $border 1px;
    margin-right: 24px;
    padding-right: 24px;

    & a {
      display: block;
      text-align: center;
      font-size: 1.1rem;
      line-height: 1.2;

      & span {
        display: block;
        font-size: 1.6rem;
        margin-bottom: 8px;
      }
    }
  }
}

.header-toggle {
  width: 56px;
  height: 56px;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  z-index: 10;
  border-radius: 50%;
  position: absolute;
  background: #fff;
  cursor: pointer;

  & span {
    position: relative;
    display: block;
    right: 0;
    width: 23px;
    height: 2px;
    background: $border;
    border-radius: 3px;
    transition: all .5s;

    &::before {
      content: "";
      width: 23px;
      height: 2px;
      background: $border;
      display: block;
      position: absolute;
      top: -7px;
      transition: all .5s;
    }

    &::after {
      content: "";
      width: 23px;
      height: 2px;
      background: $border;
      display: block;
      position: absolute;
      bottom: -7px;
      transition: all .5s;
    }
  }
}

/*   ハンバーガーメニュー　show    */
.header-toggle.show span {
  background-color: transparent;
}

.header-toggle.show span::before {
  top: 0;
  transform: rotate(45deg);
}

.header-toggle.show span::after {
  top: 0;
  bottom: auto;
  transform: rotate(-45deg);
}


@media screen and (max-width: 1300px) {
  .header-nav {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .header .container {
    height: 60px;
  }

  .header-logo {
    width: 75px;
  }
}


/***********toggle-menu**********/
.toggle-menu {
  position: fixed;
  overflow-y: scroll;
  top: 0;
  left: 0;
  background: #fff;
  text-align: center;
  z-index: 5;
  width: 100%;
  height: 100vh;
  pointer-events: none;
  padding: 130px 0;
  opacity: 0;
  visibility: hidden;
  transition: .8 ease-in-out;
}

.toggle-menu.show {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
}

.products-lineup {
  display: flex;
  margin-bottom: 40px;

  &.care {
    border-top: 1px dotted #707070;
    padding-top: 3rem;

    li {
      display: flex;
      align-items: center;
      width: 100%;

      .img-box {
        width: 35%;
      }

      .text {
        width: 100%;
      }
    }
  }

  & li {
    // min-width: 0;
    width: 100%;
    border-right: 1px dotted $border;
    padding: 0 8px;
    text-align: center;

    &:last-child {
      border: none;
    }

    & .name {
      line-height: 1.4;
      margin-bottom: 30px;
      font-size: 1rem;

      & span {
        font-size: 1.8rem;
        margin-bottom: 8px;
        display: block;
      }
    }

    & .img {
      // max-width: 180px;
      margin: 0 auto 20px;
      height: 170px;
      position: relative;
      overflow: hidden;

      img {
        width: 90%;
        object-fit: cover;
        object-position: center;
        // position: absolute;
      }
    }

    & .desc {
      font-size: 1rem;
      margin: 0 12px 30px;
    }

    .link_wrap {
      width: 90%;
      max-width: 180px;
      margin: 0 auto 12px;
      line-height: 1;
    }

    .link_wrap a {
      @include label($fcolor, $uvmoist);

      &::after {
        content: ">";
        position: absolute;
        display: block;
        width: 6px;
        height: 12px;
        top: 25%;
        right: 8%;
      }
    }

    .order_wrap a {
      @include label(#fff, $buy);
    }
  }
}

@media screen and (max-width: 1050px) {
  .products-lineup {
    flex-wrap: wrap;
    margin-bottom: 8px;

    li {
      width: 50%;
      border-right: none;

      & .img {
        width: 100%;

        img {
          width: 90%;
        }
      }
    }
  }
}





.links {
  display: flex;
  border-top: solid 1px $border;
  border-bottom: solid 1px $border;
  padding: 30px;
  margin-bottom: 30px;

  li {
    width: 100%;
    border-right: solid 1px $border;

    a {
      display: block;
      line-height: 1;
      font-size: 1.5rem;
      text-align: center;
      padding: 20px 0;

    }
  }
}

@media screen and (max-width: 1050px) {
  .links {
    display: block;
    padding: 10px;
    margin-top: 16px;
    margin-bottom: 16px;

    li {
      border-right: none;
      border-bottom: solid 1px $border;

      &:nth-child(6) {
        border-bottom: none;
      }
    }
  }
}

.order {
  text-align: center;
  margin: 0 auto;
  margin-bottom: 60px;

  a {
    display: inline-block;
    border-radius: 30px;
    font-size: 1.7rem;
    padding: 16px 80px;
    color: #fff;
    background-color: #EE6A6A;
  }
}

.logo-toggle {
  width: 160px;
  margin: auto;

  img {
    width: 100%;
  }
}

/* section */
.container {
  width: 92%;
  max-width: 1200px;
  margin: 0 auto;
  // outline: 1px solid orange;
}

.container.w-small {
  max-width: 960px;
  // background-color: #c8e8e3;
}


.s-title {
  font-size: 7rem;
  margin-bottom: 60px;
  text-align: center;
  line-height: 1.2;
}

@media screen and (max-width: 768px) {
  .s-title {
    font-size: 5rem;
    margin-bottom: 40px;
  }
}

/*******************kv******************/
.kv {
  width: 100%;
  height: 100vh;
  position: relative;

  .bg-img {
    background-image: url('../img/kv.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100%;

  }

  .kv-test {
    position: absolute;
    top: 20%;
    right: 20%;
    -ms-writing-mode: tb-rl;
    writing-mode: vertical-rl;

    p {
      font-size: 4rem;
      line-height: 1.7;
    }
  }
}

@media screen and (max-width: 768px) {
  .kv {
    height: 50vh;

    .kv-test {
      top: 30%;
      right: 10%;

      p {
        font-size: 1.6rem;
      }
    }
  }
}


/*******************delivery******************/
.delivery {
  background-color: rgba(255, 255, 255, 0.7);
  padding: 60px 78px;
  margin-bottom: 100px;

  .container {
    display: flex;
    align-items: center;
    position: relative;
  }
}

.delivery-tab {
  position: absolute;
  top: -128px;
  left: 0;
  width: 280px;
  border-radius: 20px 20px 0 0;
  background-color: #fff;
  font-size: 2rem;
  text-align: center;
  line-height: 1;

  a {
    display: block;
    padding: 24px 0;
  }

}

.delivery-title {
  width: 220px;
  flex-shrink: 0;

  .title {
    font-size: 2.3rem;
    line-height: 1.6;
    margin-bottom: 28px;
  }

  p {
    font-size: 1.3rem;
  }
}

.delivery-lineup {
  display: flex;
  justify-content: space-between;

  .item {
    width: 18%;
    flex-shrink: 0;
    text-align: center;

    a {
      display: block;
    }

    .img {
      margin-bottom: 16px;

      img {
        width: 100%;
        height: auto;
        vertical-align: baseline;
      }
    }

    .name {
      font-size: 1rem;
      margin-bottom: 8px;
      line-height: 1;

      span {
        font-size: 1.5rem;
        display: block;
        line-height: 1.4;
      }
    }

    ul {
      margin-bottom: 8px;
      line-height: 1.4;

      li {
        line-height: 1;
        padding: 4px 1px;
        color: #508AB7;
        background: #EDF7FD;
        border-radius: 10px;
        display: inline-block;
        font-size: 1rem;
      }
    }

    p {
      font-size: 1rem;
      line-height: 1.6;
    }
  }
}

@media screen and (max-width: 768px) {

  .delivery {
    background-color: rgba(255, 255, 255, 0.7);
    padding: 60px 78px;
    margin-bottom: 100px;

    .container {
      display: block;
    }
  }

  .delivery-tab {
    position: relative;
    top: auto;
    left: auto;
    width: 100%;
    border-radius: 0;
    background-color: #fff;
    font-size: 1.6rem;
    text-align: center;
    line-height: 1;
    padding: 0 0 20px;

    &::after {
      position: absolute;
      display: inline-block;
      content: "";
      bottom: 20px;
      left: 40%;
      width: 80px;
      border-bottom: 1px solid #707070;

    }

  }

  .delivery-title {
    width: 100%;


    .title {
      font-size: 2rem;
      line-height: 1.6;
      margin-bottom: 20px;
      text-align: center;
    }

    p {
      width: 90%;
      margin: auto;
      text-align: left;
    }
  }

  .delivery-lineup {
    display: block;
    position: relative;

    .item {
      margin: 0 auto;
      text-align: center;

      a {
        display: block;
      }

      .img {
        margin-bottom: 16px;
        margin: 0 auto;
        text-align: center;


        img {
          display: inline-block;
          width: 70%;
          height: auto;
          vertical-align: baseline;
        }
      }

      .name {
        font-size: 1rem;
        margin-bottom: 8px;
        line-height: 1;

        span {
          font-size: 1.5rem;
          display: block;
          line-height: 1.4;
        }
      }

      ul {
        margin-bottom: 8px;
        line-height: 1.4;

        li {
          line-height: 1;
          padding: 4px 1px;
          color: #508AB7;
          background: #EDF7FD;
          border-radius: 10px;
          display: inline-block;
          font-size: 1rem;
        }
      }

      p {
        font-size: 1rem;
        line-height: 1.6;
      }
    }
  }


  /*-------- 高さ調整 ----------*/
  .slider .slick-slide {
    height: auto !important;
  }

  /*---------- 矢印 ----------*/
  .slider .slick-next {
    right: -30px !important;
  }

  .slider .slick-prev {
    left: -30px !important;
  }

  .slider .slick-arrow {
    width: initial !important;
    height: initial !important;
    z-index: 2 !important;
  }

  .slider .slick-arrow:before {
    font-size: 20px !important;
    color: $fcolor;
  }
}

/******************kv-movie********************/
.kv-movie {
  margin-bottom: 100px;
}

.iframe-box {
  position: relative;
  width: 960px;
  // height: auto;
  height: 540px;
  margin-bottom: 8px;
  overflow: hidden;
  margin: 8px auto;

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
  }
}

.iframe-caption {
  font-size: 1.3rem;
  line-height: 1.3;
  text-align: right;
}

.sp {
  display: none;
}

@media screen and (max-width: 768px) {
  .pc {
    display: none !important;
  }

  .sp {
    display: block;
  }

  .kv-movie {
    margin-bottom: 8px;
  }

  .iframe-box {
    width: 560px;
    height: 315px;

  }
}

/******************story********************/
.story .container {
  max-width: 1400px;
}

.story-item.show .img,
.story-item.item02.show .img,
.story-item.show .text h3,
.story-item.show .text p
 {
  opacity: 1;
  transform: none;

}

.story-item .img {
  transform: translateX(-200px);
  opacity: 0;
  transition: 1s;
}

.story-item.item02 .img {
  transform: translateX(200px);
  opacity: 0;
  transition: 1s;
}

// .story-item .text {
//   transform: translateY(80px);
//   opacity: 0;
//   transition: 2s .5s;
// }
.story-item .text h3 {
  transform: translate(-10px,80px);
  transform: rotate(10deg);
  opacity: 0;
  transition: 2s .5s;
}
.story-item .text p {
  transform: translateY(80px);
  opacity: 0;
  transition: 2s 1s;
}

.story-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 200px;
  gap: 80px;

  .img {
    position: relative;
    height: 600px;
    overflow: hidden;

    img {
      width: 100%;
      object-fit: cover;
      display: block;
    }
  }

  .text {
    .title {
      font-size: 2.6rem;
      letter-spacing: -0.05em;
    }

    p {
      line-height: 2.1;
      font-size: 1.6rem;
    }
  }

  &.item01 {
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
  }

  &.item02 {
    max-width: 1300px;
  }

  &.item03 {
    max-width: 1180px;
    margin-left: auto;
  }
}

.story-item:nth-of-type(odd) .img {
  order: 1;
}

.story-item:nth-of-type(odd) .text {
  order: 0;
}

@media screen and (max-width: 1180px) {
  .story-item .img {
    height: 500px;
  }


}

@media screen and (max-width: 768px) {
  .story-item {
    display: block;
    margin-bottom: 60px;

    .img {
      height: 400px;
    }

    .text {
      .title {
        font-size: 2.5rem;
        margin-bottom: 20px;
      }

      p {
        line-height: 2.2;
        font-size: 1.5rem;
      }
    }
  }
}


/*****************products-item***********************/

.product {
  margin-bottom: 120px;
}

.products-item {
  margin-bottom: 80px;

  a {
    display: flex;
    align-items: stretch;
    position: relative;
    overflow: hidden;
    border: 1px solid $border;
    border-radius: 10px;
    height: 420px;
  }

  &.img-r .img-box {
    order: 1;
  }

  &.img-r .text {
    order: 0;
  }

  &.img-r .more {
    left: auto;
    right: calc(0% - 40px);
  }

  .img-box {
    width: 100%;

    img {
      width: 100%;
      object-fit: cover;
    }
  }

  .text {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    .text-inner {
      display: inline-block;
    }

    .name-en {
      background-color: $uvmoist;
      font-size: 1.2rem;
      display: inline-block;
      padding: 2px;
      line-height: 1.1;
    }

    .name-ja {
      font-size: 2.4rem;
      line-height: 1.4;
      margin-bottom: 12px;
      font-weight: bold;
    }

    .desc {
      font-size: 1.5rem;
      margin-bottom: 16px;
    }

    ul li {
      font-size: 1.4rem;
      display: inline-block;
      border-radius: 10em;
      border: solid #3E3F3D 1px;
      line-height: 1.4;
      padding: 0 10px;
      margin: 0 8px 8px 0;
      letter-spacing: 0;
    }
  }

  .price-box {
    display: flex;
    align-items: center;
    text-align: left;
    padding-top: 16px;
    max-width: 300px;
    margin: auto;

    .set {
      margin-right: auto;

      p {
        line-height: 1;
        margin-bottom: 6px;
        font-size: 1.4rem;

        &.free {
          background: #E94F47;
          color: #fff;
          display: inline-block;
          padding: 4px 8px;
          font-size: 1.2rem;
          margin: 0;
        }
      }
    }

    .price {
      text-align: right;

      p {
        line-height: 1.5;

        span {
          font-size: 2.4rem;
        }

        &.color {
          margin: 0;
          line-height: 1.4;
          padding-top: 8px;
          font-size: 1.2rem;
        }
      }
    }
  }

  .more {
    position: absolute;
    top: 50%;
    left: calc(0% - 40px);
    background-color: $uvmoist2;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    align-items: center;
    display: flex;
    justify-content: center;
    z-index: 1;

    span {
      display: block;
      font-size: 1.2rem;
      text-align: center;
      padding-top: 18px;
      position: relative;
      line-height: 1.4;

      &::before {
        content: "";
        display: block;
        width: 35px;
        height: 7px;
        background: url(../img/arrow.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        position: absolute;
        top: 3px;
        left: 0;
        right: 0;
        margin: auto;
      }
    }
  }
}

@media screen and (max-width: 1180px) {
  .products .flex {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: space-between;
    gap: 80px;

  }

  .products-item {
    width: 45%;

    .text {
      padding: 30px 0;
    }
  }

  .products-item a {
    flex-direction: column;
    height: 100%;
  }

  .products-item .more {
    top: -15%;
    left: 40%;
  }

  .products-item.img-r .more {
    left: 40%;
    top: -15%;
  }

  .products-item.img-r .img-box {
    order: 0;
  }

  .products-item:nth-child(2n) {
    margin-right: auto;
  }
}

@media screen and (max-width: 768px) {
  .products .flex {
    display: block;

  }

  .products-item {
    width: 100%;
    margin-bottom: 60px;

    .img {
      height: 400px;
    }

  }
}

/*****************care***********************/

.care-list {
  .item a {
    display: flex;
    justify-items: center;
    align-items: center;
    margin-bottom: 80px;
    border: 1px solid $border;
    border-radius: 10px;
  }

  .item.right {
    .img-box {
      order: 1;
    }

    .text {
      order: 0;
    }

    .more {
      margin-left: auto;
      right: -50px;
    }
  }


  .img-box {
    width: 50%;
    height: 420px;
    padding: 30px;

    img {
      width: 100%;
      object-fit: cover;
    }
  }

  .text {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    .text-inner {
      width: 60%;
    }

    .title {
      text-align: left;
      font-size: 2.4rem;
      margin-bottom: 20px;
    }

    .p {
      max-width: 400px;
      margin: 0 auto;
      line-height: 1.5;
    }
  }

  .more {
    position: absolute;
    width: 80px;
    height: 80px;
    background-color: $buy;
    border-radius: 50%;
    color: #fff;
    top: 50%;
    left: calc(0% - 40px);
    transform: translate(0, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;



    span {
      line-height: 1.4;
      font-size: 1.2rem;
      display: block;
      text-align: center;
      padding-top: 18px;
      position: relative;

      &::before {
        content: "";
        display: block;
        width: 35px;
        height: 7px;
        background: url(../img/arrow-w.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        position: absolute;
        top: 3px;
        left: 0;
        right: 0;
        margin: auto;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .care-list {
    .item a {
      display: block;
    }

    .item.right {
      .text {
        margin-top: 120px;
      }

      .more {
        top: -80%;
        right: 45%;
      }
    }

    .img-box {
      width: 100%;
      height: 420px;
      padding: 30px;
    }

    .text {
      width: 100%;

      .text-inner {
        width: 100%;
        text-align: center;
        margin-bottom: 12px;


      }

      .title {
        text-align: center;
        font-size: 2.2rem;
        margin-bottom: 8px;
      }

      .p {
        max-width: 100%;

      }
    }

    .more {
      top: -80%;
      left: 40%;

    }
  }
}

/*****************voice***********************/

.voice-list {
  display: flex;
  gap: 20px;

  .article {
    width: 50%;

    a {
      display: block;
    }

    .img {
      height: 420px;
      width: 100%;
      position: relative;

      img {
        width: 100%;
        object-fit: cover;
      }

      .more {
        position: absolute;
        z-index: 1;
        background-color: rgba(80, 138, 183, 0.86);
        color: #fff;
        line-height: 1.5;
        padding: 4px 36px;
        left: 0;
        top: 60%;

        &::after {
          content: "";
          width: 28px;
          height: 6px;
          display: block;
          position: absolute;
          background-image: url("../img/arrow-w.png");
          background-position: center;
          background-size: contain;
          background-repeat: no-repeat;
          top: 30%;
          right: 5%;

        }
      }
    }

    .text {
      padding: 0 20px;

      .name-box {
        display: flex;
        align-items: center;
        line-height: 1;
        margin-bottom: 20px;

        .name {
          font-size: 2rem;
          margin-right: 16px;
        }

        .job {
          font-size: 1.2rem;
          padding-top: 4px;
        }
      }

      .desc {
        font-size: 1.5rem;
        line-height: 1.2;
        display: inline-block;
        background: linear-gradient(transparent 0%, rgba(80, 138, 183, 0.86) 0%);
        padding: 6px;
        color: #fff;
        letter-spacing: .05em;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .voice-list {

    .article {
      .img {
        height: 330px;
      }

      .text {
        padding: 0 10px;

        .name-box {
          justify-content: space-between;
        }
      }
    }
  }
}

/*****************movie***********************/
.movie {
  margin-bottom: 100px;
}

.movie-inner {
  display: flex;
  gap: 20px;

  .movie-box {
    width: 100%;

    .title {
      font-size: 2.2rem;
      line-height: 1.4;
      margin-bottom: 2rem;
      text-align: center;
    }

    .iframe-box {
      width: 100%;
      height: 320px;
      overflow: hidden;
      border-radius: 10px;

      iframe {
        width: 100%;

      }
    }
  }
}


@media screen and (max-width: 768px) {
  .movie-inner {
    display: block;

    .movie-box {
      .title {
        font-size: 1.8rem;
        margin-bottom: 10em;
      }

      .iframe-box {
        height: 300px;
      }
    }
  }
}

/*****************bottomlink***********************/
.bottomlink {
  margin-bottom: 150px;
}

.bottomlink-box {
  border: solid $border 1px;
  border-radius: 10px;

  .text {
    text-align: center;

    .title {
      font-size: 3.4rem;
      line-height: 1.4;
      margin-top: 20px;
      margin-bottom: 20px;
    }
  }

  .link-item {
    display: flex;
    align-items: stretch;
    flex-wrap: nowrap;
    justify-content: space-between;
    gap: 2%;
    margin: 20px 0;

    .item {
      width: 18%;
      text-align: center;

      .img {
        width: 100%;
        margin: 0 auto 0.8rem;
        max-height: 100px;
        overflow: hidden;

        img {
          width: 80%;
          object-fit: cover;
        }
      }

      .name {
        font-size: 1rem;
        margin-bottom: 6px;
        line-height: 1;

        span {
          font-size: 1.4rem;
          display: block;
          line-height: 1.4;
        }
      }

      ul {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;

        &:not(.btn) li {
          line-height: 1;
          padding: 4px 2px;
          color: #508ab7;
          background-color: $uv2week;
          border-radius: 10px;
          font-size: 1rem;
          display: inline-block;
          margin: 6px 4px 0;
        }
      }

      p {
        font-size: 1rem;
        line-height: 1.5;
        margin-bottom: 8px;
      }

      ul.btn {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 8px;

        li {
          width: 40%;
          line-height: 1.4;
          padding: 4px;
          border-radius: 10px;
          display: inline-block;
          font-size: 1rem;
          position: relative;
          background-color: $uvmoist2;

          &:nth-of-type(2) {
            background-color: $buy;
          }

          .buy {
            color: #fff;
            margin-bottom: 12px;
          }
        }
      }

    }
  }
}

@media screen and (max-width: 1050px) {
  .bottomlink-box {

    .text {

      .title {
        font-size: 2.4rem;
        line-height: 1.5;
        margin-top: 30px;
        margin-bottom: 20px;
      }
    }

    .link-item {
      flex-wrap: wrap;

      .item {
        width: 48%;

        .img {
          img {
            width: 40%;
          }
        }

        ul.btn {
          margin-bottom: 30px;

          li {
            width: 30%;
          }
        }
      }
    }
  }
}

/*****************footer***********************/
.footer {
  background-color: #ECF3F5;
  padding-top: 60px;
  padding-bottom: 48px;
}

.footer-logo {
  width: 136px;
  margin: 0 auto 70px;
}

.footer-nav {
  display: flex;
  justify-content: center;
  margin-bottom: 48px;

  li {
    border-right: 1px $border solid;
    margin-right: 30px;
    padding-right: 30px;

    &:last-of-type {
      border-right: none;
      padding-right: 0;
      margin-right: 0;
    }

    a {
      display: block;
      font-size: 1.2rem;
      line-height: 1.2;
      text-align: center;

      span {
        display: block;
        font-size: 1.8rem;
        margin-bottom: 6px;
      }
    }
  }
}

.footer-links {
  text-align: center;
  letter-spacing: -0.4em;
  margin-bottom: 80px;

  li {
    display: inline-block;
    margin: 0 12px;
    letter-spacing: 0;

    a {
      font-size: 1.4rem;

      &::before {
        content: "";
        display: inline-block;
        width: 8.5px;
        height: 8.5px;
        margin: 0 6px 1px 0;
        background-image: url(../img/arrow-small.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
      }
    }
  }
}

.footer-copyright {
  font-size: 1rem;
  line-height: 1.6;
  text-align: center;
}



@media screen and (max-width: 830px) {
  .footer {
    background: #ECF3F5;
    padding: 50px 0 30px;
    text-align: center;
  }

  .footer-logo {
    margin: 0 auto 50px;
  }

  .footer-nav {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 50px;
    border-top: solid #707070 1px;

    li {
      border: none;
      margin: 0;
      width: 50%;
      border-bottom: solid #707070 1px;
      padding: 16px 0;

      &:nth-of-type(odd) {
        border-right: solid #707070 1px;
      }

      &:last-of-type {
        border-right: none;
      }

      a {
        font-size: 1.2rem;

        span {
          font-size: 1.6rem;
          margin-bottom: 0.7rem;
        }
      }
    }
  }

  .footer-links {
    text-align: left;
    margin-bottom: 4.5rem;
    display: inline-block;
    line-height: 1.4;
    width: 80%;
    min-width: 270px;
  }
}